*.exe
*.gcda
*.gcno
*.lo
*.log
*.o
*.trs
*~
.deps/
.libs/
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/build-aux
/gtk-doc.m4
/gtk-doc.make
/maint.mk
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
compat_reports/
config.cache
config.h
config.h.in
config.status
configure
doc/.gitignore
doc/Makefile
doc/Makefile.gdoc
doc/Makefile.in
doc/coverage/
doc/decode.c
doc/example-toascii.c
doc/example-tounicode.c
doc/idn2.1
doc/libidn2.aux
doc/libidn2.cp
doc/libidn2.cps
doc/libidn2.fn
doc/libidn2.fns
doc/libidn2.html
doc/libidn2.info
doc/libidn2.ky
doc/libidn2.pdf
doc/libidn2.pg
doc/libidn2.t2p/
doc/libidn2.toc
doc/libidn2.tp
doc/libidn2.vr
doc/libidn2.vrs
doc/lookup.c
doc/man/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/idn2-decl-list.txt
doc/reference/idn2-decl-list.txt.bak
doc/reference/idn2-decl.txt
doc/reference/idn2-decl.txt.bak
doc/reference/idn2-overrides.txt
doc/reference/idn2-sections.txt
doc/reference/idn2-undeclared.txt
doc/reference/idn2-undocumented.txt
doc/reference/idn2-unused.txt
doc/reference/idn2.args
doc/reference/idn2.hierarchy
doc/reference/idn2.interfaces
doc/reference/idn2.prerequisites
doc/reference/idn2.signals
doc/reference/idn2.types
doc/reference/libidn2-decl-list.txt
doc/reference/libidn2-decl-list.txt.bak
doc/reference/libidn2-decl.txt
doc/reference/libidn2-decl.txt.bak
doc/reference/libidn2-overrides.txt
doc/reference/libidn2-sections.txt
doc/reference/libidn2-undeclared.txt
doc/reference/libidn2-undocumented.txt
doc/reference/libidn2-unused.txt
doc/reference/libidn2.args
doc/reference/libidn2.hierarchy
doc/reference/libidn2.interfaces
doc/reference/libidn2.pdf
doc/reference/libidn2.prerequisites
doc/reference/libidn2.signals
doc/reference/libidn2.types
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/setup-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
doc/register.c
doc/stamp-vti
doc/texi/
doc/version.texi
examples/decode
examples/example-toascii
examples/example-tounicode
examples/lookup
examples/register
fuzz/*_fuzzer
fuzz/*_fuzzer.new/
gl/
lib/data.c
lib/gentr46map
lib/idn2.h
lib/tr46map_data.c
libidn2-*.tar.*
libidn2-*.tar.*.sig
libidn2-*/
libidn2.la
libidn2.pc
libtool
m4/*
po/*
!po/POTFILES.in
scan.tmp/
src/Makefile
src/Makefile.in
src/idn2
src/idn2_cmd.c
src/idn2_cmd.h
src/idn2_noinstall
src/libidn2_cmd.la
stamp-h1
tests/.gitignore
tests/IdnaTest.inc
tests/Makefile
tests/Makefile.in
tests/repro-to-ascii-8z
tests/repro-to-unicode-8z8z
tests/test-lookup
tests/test-punycode
tests/test-register
tests/test-strerror
tests/test-tounicode
tests/test-glibc
unistring/
