*~
.deps/
.libs/
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
bidi.gcda
bidi.gcno
bidi.lo
bidi.o
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
build-aux/texinfo.tex
config.cache
config.h
config.h.in
config.log
config.status
configure
context.gcda
context.gcno
context.lo
context.o
data.c
data.gcno
data.lo
data.o
doc/Makefile
doc/Makefile.gdoc
doc/Makefile.in
doc/coverage/
doc/idn2.1
doc/libidn2.aux
doc/libidn2.cp
doc/libidn2.cps
doc/libidn2.fn
doc/libidn2.fns
doc/libidn2.html
doc/libidn2.info
doc/libidn2.ky
doc/libidn2.log
doc/libidn2.pdf
doc/libidn2.pg
doc/libidn2.t2p/
doc/libidn2.toc
doc/libidn2.tp
doc/libidn2.vr
doc/libidn2.vrs
doc/lookup.c
doc/man/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/idn2-decl-list.txt
doc/reference/idn2-decl-list.txt.bak
doc/reference/idn2-decl.txt
doc/reference/idn2-decl.txt.bak
doc/reference/idn2-overrides.txt
doc/reference/idn2-sections.txt
doc/reference/idn2-undeclared.txt
doc/reference/idn2-undocumented.txt
doc/reference/idn2-unused.txt
doc/reference/idn2.args
doc/reference/idn2.hierarchy
doc/reference/idn2.interfaces
doc/reference/idn2.prerequisites
doc/reference/idn2.signals
doc/reference/idn2.types
doc/reference/libidn2-decl-list.txt
doc/reference/libidn2-decl-list.txt.bak
doc/reference/libidn2-decl.txt
doc/reference/libidn2-decl.txt.bak
doc/reference/libidn2-overrides.txt
doc/reference/libidn2-sections.txt
doc/reference/libidn2-undeclared.txt
doc/reference/libidn2-undocumented.txt
doc/reference/libidn2-unused.txt
doc/reference/libidn2.args
doc/reference/libidn2.hierarchy
doc/reference/libidn2.interfaces
doc/reference/libidn2.pdf
doc/reference/libidn2.prerequisites
doc/reference/libidn2.signals
doc/reference/libidn2.types
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/setup-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
doc/register.c
doc/stamp-vti
doc/texi/
doc/version.texi
error.gcda
error.gcno
error.lo
error.o
examples/lookup
examples/lookup.gcno
examples/register
examples/register.gcno
free.gcno
free.lo
free.o
gl/Makefile
gl/Makefile.in
gl/alloca.h
gl/arg-nonnull.h
gl/c++defs.h
gl/c-ctype.gcno
gl/c-ctype.lo
gl/c-ctype.o
gl/c-strcasecmp.gcno
gl/c-strcasecmp.lo
gl/c-strcasecmp.o
gl/c-strncasecmp.gcno
gl/c-strncasecmp.lo
gl/c-strncasecmp.o
gl/charset.alias
gl/configmake.h
gl/iconv.h
gl/iconv_open-aix.h
gl/iconv_open-hpux.h
gl/iconv_open-irix.h
gl/iconv_open-osf.h
gl/iconv_open-solaris.h
gl/libgnu.la
gl/localcharset.gcno
gl/localcharset.lo
gl/localcharset.o
gl/malloca.gcno
gl/malloca.lo
gl/malloca.o
gl/ref-add.sed
gl/ref-del.sed
gl/striconveh.gcno
gl/striconveh.lo
gl/striconveh.o
gl/striconveha.gcno
gl/striconveha.lo
gl/striconveha.o
gl/string.h
gl/sys/
gl/uniconv.h
gl/uniconv/.dirstamp
gl/uniconv/u8-conv-from-enc.gcno
gl/uniconv/u8-conv-from-enc.lo
gl/uniconv/u8-conv-from-enc.o
gl/uniconv/u8-strconv-from-enc.gcno
gl/uniconv/u8-strconv-from-enc.lo
gl/uniconv/u8-strconv-from-enc.o
gl/uniconv/u8-strconv-from-locale.gcno
gl/uniconv/u8-strconv-from-locale.lo
gl/uniconv/u8-strconv-from-locale.o
gl/uniconv/uniconv
gl/unictype.h
gl/unictype/.#unictype#scripts_byname.gperf.gcov
gl/unictype/.dirstamp
gl/unictype/bidi_of.gcno
gl/unictype/bidi_of.lo
gl/unictype/bidi_of.o
gl/unictype/categ_M.gcno
gl/unictype/categ_M.lo
gl/unictype/categ_M.o
gl/unictype/categ_none.gcno
gl/unictype/categ_none.lo
gl/unictype/categ_none.o
gl/unictype/categ_of.gcno
gl/unictype/categ_of.lo
gl/unictype/categ_of.o
gl/unictype/categ_test.gcno
gl/unictype/categ_test.lo
gl/unictype/categ_test.o
gl/unictype/combiningclass.gcno
gl/unictype/combiningclass.lo
gl/unictype/combiningclass.o
gl/unictype/joiningtype_of.gcno
gl/unictype/joiningtype_of.lo
gl/unictype/joiningtype_of.o
gl/unictype/scripts.gcno
gl/unictype/scripts.lo
gl/unictype/scripts.o
gl/unictype/scripts_byname.h
gl/unictype/unictype
gl/uninorm.h
gl/uninorm/.#array-mergesort.h.gcov
gl/uninorm/.#uninorm#composition-table.gperf.gcov
gl/uninorm/.#unistr.h.gcov
gl/uninorm/.dirstamp
gl/uninorm/canonical-decomposition.gcno
gl/uninorm/canonical-decomposition.lo
gl/uninorm/canonical-decomposition.o
gl/uninorm/composition-table.h
gl/uninorm/composition.gcno
gl/uninorm/composition.lo
gl/uninorm/composition.o
gl/uninorm/decompose-internal.gcno
gl/uninorm/decompose-internal.lo
gl/uninorm/decompose-internal.o
gl/uninorm/decomposition-table.gcno
gl/uninorm/decomposition-table.lo
gl/uninorm/decomposition-table.o
gl/uninorm/nfc.gcno
gl/uninorm/nfc.lo
gl/uninorm/nfc.o
gl/uninorm/nfd.gcno
gl/uninorm/nfd.lo
gl/uninorm/nfd.o
gl/uninorm/u32-normalize.gcno
gl/uninorm/u32-normalize.lo
gl/uninorm/u32-normalize.o
gl/uninorm/uninorm
gl/unistr.h
gl/unistr/.#unistr.h.gcov
gl/unistr/.dirstamp
gl/unistr/u32-cpy.gcno
gl/unistr/u32-cpy.lo
gl/unistr/u32-cpy.o
gl/unistr/u32-mbtouc-unsafe.gcno
gl/unistr/u32-mbtouc-unsafe.lo
gl/unistr/u32-mbtouc-unsafe.o
gl/unistr/u32-to-u8.gcno
gl/unistr/u32-to-u8.lo
gl/unistr/u32-to-u8.o
gl/unistr/u32-uctomb.gcno
gl/unistr/u32-uctomb.lo
gl/unistr/u32-uctomb.o
gl/unistr/u8-check.gcno
gl/unistr/u8-check.lo
gl/unistr/u8-check.o
gl/unistr/u8-mblen.gcno
gl/unistr/u8-mblen.lo
gl/unistr/u8-mblen.o
gl/unistr/u8-mbtouc-aux.gcno
gl/unistr/u8-mbtouc-aux.lo
gl/unistr/u8-mbtouc-aux.o
gl/unistr/u8-mbtouc-unsafe-aux.gcno
gl/unistr/u8-mbtouc-unsafe-aux.lo
gl/unistr/u8-mbtouc-unsafe-aux.o
gl/unistr/u8-mbtouc-unsafe.gcno
gl/unistr/u8-mbtouc-unsafe.lo
gl/unistr/u8-mbtouc-unsafe.o
gl/unistr/u8-mbtouc.gcno
gl/unistr/u8-mbtouc.lo
gl/unistr/u8-mbtouc.o
gl/unistr/u8-mbtoucr.gcno
gl/unistr/u8-mbtoucr.lo
gl/unistr/u8-mbtoucr.o
gl/unistr/u8-prev.gcno
gl/unistr/u8-prev.lo
gl/unistr/u8-prev.o
gl/unistr/u8-strlen.gcno
gl/unistr/u8-strlen.lo
gl/unistr/u8-strlen.o
gl/unistr/u8-to-u32.gcno
gl/unistr/u8-to-u32.lo
gl/unistr/u8-to-u32.o
gl/unistr/u8-uctomb-aux.gcno
gl/unistr/u8-uctomb-aux.lo
gl/unistr/u8-uctomb-aux.o
gl/unistr/u8-uctomb.gcno
gl/unistr/u8-uctomb.lo
gl/unistr/u8-uctomb.o
gl/unistr/unistr
gl/unitypes.h
gl/unused-parameter.h
gl/warn-on-use.h
idn2.h
idna.gcda
idna.gcno
idna.lo
idna.o
idna-tables-6.3.0.txt
libidn2-*.tar.gz
libidn2-*.tar.gz.sig
libidn2-*/
libidn2.la
libtool
lookup.gcda
lookup.gcno
lookup.lo
lookup.o
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
punycode.gcda
punycode.gcno
punycode.lo
punycode.o
register.gcda
register.gcno
register.lo
register.o
scan.tmp/
src/Makefile
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/config.h
src/config.h.in
src/config.log
src/config.status
src/configure
src/gl/Makefile
src/gl/Makefile.in
src/gl/arg-nonnull.h
src/gl/c++defs.h
src/gl/configmake.h
src/gl/libgnu.la
src/gl/progname.gcno
src/gl/progname.lo
src/gl/progname.o
src/gl/stdio.h
src/gl/string.h
src/gl/sys/
src/gl/unistd.gcno
src/gl/unistd.h
src/gl/unistd.lo
src/gl/unistd.o
src/gl/version-etc.gcno
src/gl/version-etc.lo
src/gl/version-etc.o
src/gl/warn-on-use.h
src/idn2
src/idn2.gcno
src/idn2.o
src/idn2_cmd.c
src/idn2_cmd.h
src/libidn2_cmd.la
src/libidn2_cmd_la-idn2_cmd.gcno
src/libidn2_cmd_la-idn2_cmd.lo
src/libidn2_cmd_la-idn2_cmd.o
src/libtool
src/stamp-h1
stamp-h1
tables.gcda
tables.gcno
tables.lo
tables.o
tests/Makefile
tests/Makefile.in
tests/test-lookup
tests/test-lookup.gcda
tests/test-lookup.gcno
tests/test-lookup.log
tests/test-lookup.o
tests/test-lookup.trs
tests/test-punycode
tests/test-punycode.gcda
tests/test-punycode.gcno
tests/test-punycode.log
tests/test-punycode.o
tests/test-punycode.trs
tests/test-register
tests/test-register.gcda
tests/test-register.gcno
tests/test-register.log
tests/test-register.o
tests/test-register.trs
tests/test-suite.log
version.gcda
version.gcno
version.lo
version.o
